/* ---- CSS Reset ---- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* ---- HTML5 Reset ---- */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---- Main Website Styles ---- */

* {
	box-sizing:border-box;
}

body {
	padding:0; margin:0;

	font-family:"Arial", sans-serif;
	font-size:10pt;

	background: rgb(211,211,210); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(211,211,210,1) 0%, rgba(255,255,255,1) 61%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,211,210,1)), color-stop(61%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(211,211,210,1) 0%,rgba(255,255,255,1) 61%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(211,211,210,1) 0%,rgba(255,255,255,1) 61%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(211,211,210,1) 0%,rgba(255,255,255,1) 61%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(211,211,210,1) 0%,rgba(255,255,255,1) 61%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

a, a:active, a:hover {
	color:#227ab0;
	text-decoration: none;
}

a:visited {
	color:#4b4d4a;
}

.float {
	float:left;
}

.float-right {
	float:right;
}

.wrap {
	width:940px;
	margin:0 auto;
}

strong {
	font-weight: bold;
}

hr {
	border:none;
	border-top:1px solid #d8d8d8;
	margin:35px 0px;
}

/* Head/Navigation Styles */

header {
	width:100%;
	margin:0 auto;
	height:129px;

	border-bottom: 1px solid #2279a9;
-webkit-box-shadow: 0px 2px 10px 5px #d2d2d2;
box-shadow: 0px 2px 10px 5px #d2d2d2;

	background:url(../img/header-bg.png);
}

.title-search {
	width:940px;
	margin:0 auto;

	vertical-align: middle;
}

header h1 {
	display: block;
	padding:25px 0px 30px 170px;
	font-style: italic;

	font-size:25pt;
	color:#fff;
	font-family: "Times", serif;
	background: url(../img/wdim_site_logo.png) left center no-repeat;

	text-shadow: 0px 0px 2px #666;
	filter: dropshadow(color=#666, offx=0, offy=0);
}

.search {
	float:right;
	margin:30px 0px 0px 0px;
}

.search input[type="text"] { 
	background:#5c6458;
	
	border:1px solid #f1f1f1;
	border-top:1px solid #a9ada8;
	border-radius:4px;
	padding:5px 15px;

	color:#a4a3a3;
	font-family:"Arial", sans-serif;
	font-size:8pt;
}

.search input[type="submit"] {
	border: none;
	margin:0px 0px 0px 0px;

	width:18px; height:19px;
	background: url(../img/submit-go.png) center no-repeat
}

header nav {
	width:940px;
	margin: -1px auto;
	padding:2px 0px;
}

 header nav ul {
	width:940px;
}

header nav li {
	display:inline-block;
	margin:2px 15px 0px 0px;
	padding: 7px 15px;

}


header nav li a:hover {
	padding:7px 15px;
	border-radius:5px;
	border:1px solid #d08401;
	color:#7b3500;

	box-shadow: inset 1px 3px 6px #fef6dc;

	background: rgb(252,228,105); 
	background: -moz-linear-gradient(-45deg, rgba(252,228,105,1) 1%, rgba(249,196,71,1) 40%, rgba(246,171,56,1) 100%); 
	background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,rgba(252,228,105,1)), color-stop(40%,rgba(249,196,71,1)), color-stop(100%,rgba(246,171,56,1))); 
	background: -webkit-linear-gradient(-45deg, rgba(252,228,105,1) 1%,rgba(249,196,71,1) 40%,rgba(246,171,56,1) 100%); 
	background: -o-linear-gradient(-45deg, rgba(252,228,105,1) 1%,rgba(249,196,71,1) 40%,rgba(246,171,56,1) 100%); 
	background: -ms-linear-gradient(-45deg, rgba(252,228,105,1) 1%,rgba(249,196,71,1) 40%,rgba(246,171,56,1) 100%); 
	background: linear-gradient(135deg, rgba(252,228,105,1) 1%,rgba(249,196,71,1) 40%,rgba(246,171,56,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce469', endColorstr='#f6ab38',GradientType=1 ); 
}



header nav li a {
	font-family:"Arial", sans-serif;
	font-size: 10pt;
	text-transform: uppercase;
	color:#848484;
}



.login {
	float:right;
	dispay:table-cell;
	vertical-align: middle;
}


/* Content Styles */

main {
	width:940px;
	margin:0 auto 35px auto;
}

.inner-page {
	background:url(../img/about_bg.png) top center no-repeat;
	margin-top:50px;
	padding-top:10px;
}

.inner-page a {
	color:#db8146;
}

.inner-page p a {
	font-style: italic;
}

.grey-box {
	background:#f0f0f0;
	padding:20px;
	width:180px;
	border:1px solid #e8e8e8;
}

.grey-box ul,
.grey-box li  {
	list-style:none;
	font-style: normal;
	padding:0; margin:20px 0px 20px 0px;
}

.grey-box li {
	margin:35px 0px 0px 0px;
}

.grey-box a {
	color:#666;
	text-transform: uppercase;
	font-size:10pt;
}

.grey-box a:hover {
	color:#fff;
}

.grey-box p {
	font-size: 8pt;
	margin:3px 0px;
}

.grey-box h5 {
	color:#3d3939;
	margin:0px 0px 25px 0px;
	font-size: 11pt;
	font-style: normal;
	letter-spacing: 0px;
}

#second {
	margin:25px 0px;
}

.title {
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	color:#838382;
	font-style: normal;
	font-size: 16pt;
	display: block;

	margin:20px 0px 50px 5px;
}

.selected a {
	background: url(../img/selected_bg.png) left center no-repeat;
	display:block;
	width:230px;
	height:45px;
	margin:0px 0px -5px -40px;
	padding:17px 38px;
	z-index: 5;

	color:#fff;
}

h1.selected  {
	background: url(../img/selected_h1_bg.png) left center no-repeat;
	display:block;
	width:190px;
	height:45px;
	padding:10px 0px 10px 20px;
	margin:0px 0px 20px -10px;
	z-index: 5;

	color:#fff !important;
}

.published {
	display:block;
	margin:5px 0px 35px 0px;
	font-style:italic;
	font-size: 8pt;
}

.published a {
	font-weight:bold;
	font-style: normal;
}


/* Form Styles */

form {
	margin:20px 0px 45px 0px;
}

.inner-page input[type="text"] {
	background: #f5f5f4;
	border:1px solid #e5e3e3;
	padding:5px;
	margin:0px 0px 10px 0px;

	display:block;
	vertical-align: middle;
	font-size: 8pt;
	font-style: italic;
}

.inner-page input[type="textarea"] {
	background: #f5f5f4;
	border:1px solid #e5e3e3;
	padding:5px;
	margin:0px 0px 10px 0px;
	height:130px;

	display:block;

	vertical-align: top;
	font-size: 8pt;
	font-style: italic;
}

.inner-page input[type="submit"] {
	border:none; background:none; padding: 0;
	color:#1e96a0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 9pt;
}



/* headers */



.inner-page h1 {
	font-size:19pt;
	color:#4b4d4a;
	font-weight:bold;
	margin-top:20px;
}

.inner-page article h3 {
	color:#d56b26;
	font-weight:bold;
	font-size:14pt;

	margin:50px 0px 30px 0px;
}

aside h2 {
	font-size: 12pt;
	color:#4b4d4a;
	font-weight:bold;
	margin:40px 0px 0px 0px;
}

aside h3 {
	font-size: 11pt;
	color:#d05606;
	font-weight:bold;
}

aside p {
	display:block;
	width:180px;
	font-style: normal;
	font-size: 10pt;
	margin:15px 0px 10px 0px;
}

.inner-page article p {
	font-size:9pt;
}

.subtitle {
	color:#7d807c;
	font-size:13pt;
}

.clearfix {
	clear:both;
}


.buy-button a{
	display: block;
	margin:30px 0px;
	padding:10px 15px 8px 15px;
	border-radius:5px;
	width:110px;
	border:1px solid #bfb9b9;
	color:#5c6458;
	font-size:9pt;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;

	box-shadow: inset 1px 3px 6px #fff;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 1%, rgba(219,219,219,1) 45%, rgba(212,212,212,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,1)), color-stop(45%,rgba(219,219,219,1)), color-stop(100%,rgba(212,212,212,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 1%,rgba(219,219,219,1) 45%,rgba(212,212,212,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,1) 1%,rgba(219,219,219,1) 45%,rgba(212,212,212,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 1%,rgba(219,219,219,1) 45%,rgba(212,212,212,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,1) 1%,rgba(219,219,219,1) 45%,rgba(212,212,212,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d4d4',GradientType=1 ); /* IE6-9 */
}

.buy-button a:hover {
	border:1px solid #d08401;
	color:#7b3500;

	box-shadow: inset 1px 3px 6px #fef6dc;

	background: rgb(252,228,105); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(252,228,105,1) 1%, rgba(249,196,71,1) 40%, rgba(246,171,56,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,rgba(252,228,105,1)), color-stop(40%,rgba(249,196,71,1)), color-stop(100%,rgba(246,171,56,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(252,228,105,1) 1%,rgba(249,196,71,1) 40%,rgba(246,171,56,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(252,228,105,1) 1%,rgba(249,196,71,1) 40%,rgba(246,171,56,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(252,228,105,1) 1%,rgba(249,196,71,1) 40%,rgba(246,171,56,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(252,228,105,1) 1%,rgba(249,196,71,1) 40%,rgba(246,171,56,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce469', endColorstr='#f6ab38',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.portfolio-grey-box {
	background:#f0f0f0;
	padding:20px;
	border:1px solid #e2e0e0;
	width:620px;

	margin:0px 0px 35px 0px;
}

#featured.portfolio-grey-box  {
	border:1px solid #cdcbcb;
	margin-top:20px;
}

.portfolio-grey-box img {
	margin:0px 20px 0px 0px;
}

.portfolio-grey-box h1 {
	font-size: 15pt;
	margin:5px 0px;
}






/* Footer Styles */

footer {
	width:100%;
	margin:45px 0px 0px 0px;
	padding:30px 0px 0px 0px;
	background: url(../img/footer-bg.png);
}

footer section {
	width:210px;
	height:350px;
	margin:0px 20px 0px 0px;
	color:#fff;
}

footer section p {
	font-size:8pt;
	margin:5px 0px;
}

.footer {
	clear:both;
	width:100%;
	background:url(../img/nav_footer_bg.png) repeat-x bottom center;
	height:41px;
	color:#848484;
	font-size:8pt;

	margin:0 auto;
	padding:15px 0px;
	bottom:0;
}

.footer strong {
	text-transform:uppercase;
	font-family:"Arial Narrow", "Arial", sans-serif;
	font-weight:bold;
	font-size:13pt;
}

.footer-nav-ul {
	padding:3px 0px 0px 0px;
	float:right;
	width:550px !important;
}

.footer-nav-ul li {
	display:inline-block;
	margin-right:20px;
}

.footer-nav-ul li a {
	font-family:"Arial", sans-serif;
	font-size: 9pt;
	text-transform: uppercase;
	color:#848484;
}

.footer-nav-ul li a:first-child {
	background:none;
}

section h3 {
	display:block;

	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12pt;
	color:#ebebeb;

	font-size:12pt;
	text-transform:uppercase;

	border-bottom:1px solid #e1e1e1;
	margin:0px 0px 20px 0px;
	padding:0px 0px 5px 0px;
}

section h5 {
	display:block;
	padding:7px 0px 0px 50px;
	font-weight:bold;
	height:25px;

	background:url(../img/1201_label.png) left center no-repeat;
}

#comments  {
	background:url(img/comment_label.png) no-repeat;
}

#twitter {
	background:url(../img/twitter-bird.png) bottom right no-repeat;
}

.follow {
	border-bottom:1px solid #fff;
	color:#fff;
	font-style: italic;
	font-size: 8pt;
}

.twitter-bubble {
	background:url(../img/twitter-bg.png) center center no-repeat;
	width:220px; height: 152px;
	padding:20px;

	font-style: italic;
	font-size: 9pt;
	color:#111;
}


.twitter-bubble a {
	color:#d05706;
}

.advert-block {
	width:220px; 
}

.advert-block img {
	margin:0px 5px 5px 0px;
}


/* Front Page Header */

.front-header {
	width:100%;
	height:418px;
	background:url(../img/front_header_bg.png) repeat-x center center;
}

.promise {
	width:940px;
	height:418px;

	margin:0 auto;
	padding:35px 0px 0px 0px;
	color:#fff;
}

.promise h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
	font-size:34pt;
	color:#fff;
	margin:0px 0px 45px 0px;
}

.promise h2 {
	color:#f1f1f1;
	font-size:14pt;
	margin:0px 0px 45px 0px;
}

.promise p {
	margin:0px 0px 50px 0px;
}

.promise strong {
	display:block;
}

.promise aside {
	margin:0px;
}

.front-header aside {
	float:right;
	height:418px;
	margin-left:15px;
}


.front-advert-list {
	height:70px;
}

.front-advert-list ul {
	width:940px;
	height:65px;
	float:left;
	margin-top: 15px;

	background:url(../img/advert-list-bg.png);
}

.front-advert-list li {
	display:inline-block;
	float:left;
	width:235px;
	height:65px;
	padding:15px 0px 15px 0px;
	border:1px solid #bcbcbc;
	border-left:none;
	border-bottom:none;

	margin:0px;

	font-size:8pt;
	color:#808080;
}

.front-advert-list li:first-child {
	border-left:1px solid #bcbcbc;
	border-top-left-radius: 10px;

	background:url(../img/webdesign_bg.png) left center no-repeat #fcfcfc;
	padding-left:80px;
}

.front-advert-list li:first-child h6 {
	color: #d05606;
}

.front-advert-list li:last-child {
	border-top-right-radius: 11px;
}

.front-advert-list li#marketing {
	background:url(../img/marketing_bg.png) left center no-repeat;
	padding-left:80px;
}

.front-advert-list li#consulting {
	background:url(../img/consulting_bg.png) left center no-repeat;
	padding-left:80px;
}

.front-advert-list li#support {
	background:url(../img/support_bg.png) left center no-repeat;
	padding-left:80px;
}

.front-advert-list h6 {
	font-family: "Arial Narrow", Arial, sans-serif;
	font-size:16pt;
	text-transform:uppercase;
	color:#9b9b9b;
}

#front-advert-hr {
	border-top:1px solid #bcbcbc;
	margin:0px 0px 50px 0px;
}

article {
	width:480px;
	float: right;
	color:#4b4d4a;
}

article h2 {
	font-family:"Arial Narrow", "Arial", sans-serif;
	font-size:26pt;
	font-weight:bold;
	color:#227ab0;
	margin-bottom:17px;
}

article p {
	font-family:"Arial", sans-serif;
	font-size:12pt;
	color:#4b4d4a;
	margin-bottom:17px;
}

#small {
	font-size:10pt;
}

article ul,
aside ul {
	list-style-image: url(../img/list-marker.png);
	list-style-type: circle;

	margin:0px 0px 17px 35px; padding:0px;
}

article li,
aside li {
	margin:5px 0px 10px 0px;
}

main {
	background:url(../img/main_bg.png) top center no-repeat;
}

main aside {
	width:440px;
	font-size:8pt;
	font-style: italic;
	margin:0px 0px 0px 10px;
}

.inner-page article {
	width:650px;
	padding-right:60px;
}

#pricing {
	width:920px;
}

.inner-page table {
	background:#f3f3f3;
	border:1px solid #e8e8e8;

	margin:0px auto 25px auto;
}

.inner-page td {
	border-left:1px solid #fefefe;
	border-right: 1px solid #d6d6d6;
	width:218px;
	padding:5px 0px 30px 23px;
}

.price-tag {
	color:#d15806;
	font-weight: bold;
	font-size: 15pt;
}

.customer-comment {
	border:1px solid #e0e0df;
	background: #f2f2f2;
	padding:15px;

	margin:70px 0px 0px 0px;
}

.customer-comment-inner {
	background:#f8f7f7;
	padding:20px;
	border:1px solid #ececec;
}

.orange {
	color: #d05606;
	font-size:10pt;
}

.customer-comment-inner p {
	font-style: italic;
	font-family:"Times New Roman", serif;
	font-size:18pt;
	color:#666666;
	line-height:1.3;

	margin:25px 15px;
}

.customer-button a {
	display:block;
	border:1px solid #e0e0df;
	background: #f2f2f2;
	border-radius:5px;
	width:185px;
	text-align:center;

	padding:5px;

	text-transform:uppercase;
	color:#666;
	font-size:8pt;

}