* {
 
     box-sizing:border-box;

}




/* WEBFONTS */


@font-face {
    
    font-family: 'pacifico';

    src: url('http://dev.dragonsdenstudios.com/fonts/pacifico-webfont.eot');

    src: url('http://dev.dragonsdenstudios.com/fonts/pacifico-webfont.eot?#iefix') format('embedded-opentype'),

         url('http://dev.dragonsdenstudios.com/fonts/pacifico-webfont.woff') format('woff'),

         url('http://dev.dragonsdenstudios.com/fonts/pacifico-webfont.ttf') format('truetype'),

         url('http://dev.dragonsdenstudios.com/fonts/pacifico-webfont.svg#pacificoregular') format('svg');

    font-weight: normal;

    font-style: normal;


}



@font-face {

    font-family: 'bebas';

    src: url('http://dev.dragonsdenstudios.com/fonts/BebasNeue-webfont.eot');

    src: url('http://dev.dragonsdenstudios.com/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),

         url('http://dev.dragonsdenstudios.com/fonts/BebasNeue-webfont.woff') format('woff'),

         url('http://dev.dragonsdenstudios.com/fonts/BebasNeue-webfont.ttf') format('truetype'),

         url('http://dev.dragonsdenstudios.com/fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');

    font-weight: normal;

    font-style: normal;


}






/* BODY STYLES */



body {  
	background:url(../img/bg.png) #1D2E4C; 
	font:11pt "Helvetica", Arial, sans-serif;
  
	color:#1A5D65;
}



#wrap {

  width:960px;

  margin:50px auto;

  border:2px dashed #3C8E77;

  padding:10px;

  background:url(../img/bg.png) #f0f0f0;

}




aside {

  width:200px;
 
 height:300px;

  float:right;

  border-bottom:15px solid #D2DB9A;

  padding:10px;

  background:#9BC585;

  color:#fff;

  margin:-50px 0px 0px 0px;

  font:20pt "Bebas", Arial, sans-serif;


  
box-shadow:2px 2px 7px rgba(29,46,76, 0.8);

  -moz-box-shadow:2px 2px 7px rgba(29,46,76, 0.8);

  -webkit-box-shadow:2px 2px 7px rgba(29,46,76, 0.8);

  -o-box-shadow:2px 2px 7px rgba(29,46,76, 0.8);

}



header {

  height:300px;

  display:block;

  padding:2.0em 0px 0px 0px;

  background:url(../img/300.jpg);

  
border-bottom:3px solid #1A5D65;

}



header h1 {

  font:5em "Pacifico", Times, serif;

  text-shadow: -1px -2px 1px rgba(29, 46, 76, 1.0);

}



nav {

  margin:0px 0px 30px 0px;

  border-bottom:3px solid #1A5D65; 

}



nav ul {

  list-style:none;

  padding:0;
  margin:0;

}



nav li {

  display:inline-block;

  padding:0px 30px 0px 35px;
  margin:0px;

  border-left:2px dashed #1A5D65;

}



nav li a {

  font:14pt "Bebas", Helvetica, Arial, sans-serif;

  text-decoration:none;

  color: #93296d;


  transition:color 1s ease;

  -moz-transition:color 1s ease;

  -webkit-transition:color 1s ease;

  -o-transition:color 1s ease; 

}



nav li a:hover {

  color:#1D2E4C;

}



nav li:first-child {

  padding:0px 35px 0px 0px;

  border:none; 

}



section {

  width:100%;

  padding:5px 0px; 

}



.float {

  width:275px;
  height:250px;

  float:left;

  border-bottom:15px solid #9BC585;

  padding:10px;

  background:#3C8E77;

  color:#1A5D65;

  
font:20pt "Bebas", Arial, sans-serif;

}



#img.float {

  margin:0px 15px 0px 55px;

  background:#9BC585;

  border:none;

}



#right.float  {

  float:right;

}



.clearfix {

  clear:both;

}



h2 {

  clear:both;

  margin:30px 0px -5px 0px;

  display:block;

  padding:3px 0px 3px 3px;

  
color:#D2DB9A;

  background:#3C8E77;

  
font:15pt "Bebas", Helvetica, Arial, sans-serif;

}




article {

  height:250px;

  overflow:scroll;

  margin:0;
 padding:0px;

}



article p {

  padding:0px 10px 0px 5px;

}


